<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236880852869-f8qcgc4nd2o8se9395rrmp5gvtsg2jpb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236880852869-f8qcgc4nd2o8se9395rrmp5gvtsg2jpb</string>
	<key>API_KEY</key>
	<string>AIzaSyC5QnYVvJw--IzS48V3lvStR-i_ZTls6L0</string>
	<key>GCM_SENDER_ID</key>
	<string>236880852869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>self.LoginPage</string>
	<key>PROJECT_ID</key>
	<string>fir-2020intern</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-2020intern.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236880852869:ios:acbe2ad9400af79f4736ec</string>
	<key>DATABASE_URL</key>
	<string>https://fir-2020intern.firebaseio.com</string>
</dict>
</plist>